@font-face {
  font-family: 'Open Sans';
  src: url('../assets/open-sans/OpenSans-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/open-sans/OpenSans-Light.ttf') format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/open-sans/OpenSans-Italic.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
}

.container {
  padding: 0 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: 'Open Sans';
  font-weight: 200;
  padding-bottom: 5rem;
}

.titleContainer{
  /* background: rgba(0, 77, 61, 0.9); */
  background-image: url("../public/bg3.jpeg");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem 1rem 0.75rem;
}

.descCont{
  margin: 0 2rem 0 2rem;
  font-size: 1.1rem;
  padding-bottom: 1.5rem;
  padding-top: 80px;
}

#hneeTitle{
  height: 60px;
  position: absolute;
  left: 20px;
  top: 20px;
}

#titleImage{
  width: 45%;
  margin-left: 10px;
  margin-right: 10px;
  /* height: 0; */
}

.titleHeader{
  font-size: 2rem;
  /* color: #eee; */
  margin: 0;
  font-weight: 200;
  /* font-family: Helvetica Neue; */
}

.checkoutTitle{
  margin-top: 40px;
  font-weight: 200;
}

#homePagedivider{
  width: 5rem;
  margin: 0 0 10px 0;
}

.titleDescription {
  margin: 1rem 0 2rem 0;
  line-height: 1.5;
  font-size: inherit;
  font-weight: 400;
  /* color: #eee; */
  text-indent: 1rem;
  /* font-family: Helvetica Neue; */
}

/* .readMoreAboutTitle{
  width: 600px;
  color: #5995da;
  border-color: #0070f3;
  font-size: inherit;
 font-style: italic;
  text-decoration: underline;
  font-family: Helvetica Neue;
}

.readMoreAboutTitle:hover,
.readMoreAboutTitle:focus,
.readMoreAboutTitle:active {
  color: #0070f3;
  box-shadow: 1px solid #000;
  text-decoration: underline;
} */

.readMoreAboutTitle{
  padding: 12px;
  text-decoration: none;
  /* border: 0.1em solid #eee; */
  border: 0.1em solid #000;
  font-weight: 400;
  border-radius: 8px;
  /* color: #eee; */
  transition: color 0.25s ease, border-color 0.25s ease, background-color 0.25s ease;
  /* background-color: #eee; */
}

.readMoreAboutTitle:hover,
.readMoreAboutTitle:focus,
.readMoreAboutTitle:active {
  /* color: rgba(0, 77, 61, 0.9); */
  background-color: rgba(0, 77, 61, 0.3);
}


/*----LISTING----*/

/*----FILTER----*/

.mainFilterContainer{
  /* display: flex; */
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filterContainer {
  display: flex;
  width: 300px;
  height: 400px;
  margin: 30px;
  flex-direction: column;
  align-items: center;
}

.filterWrapper{
  display: grid;
  grid-template-columns: auto auto auto;
}

.filterContainer > p {
  color: #000;
  font-size: 1.2em;
}

.verticalDivider{
  align-self: stretch;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 1px;
  background-color: #000;
}

.filterInfo{
  color: #000;
}

.filterBox{
  cursor: pointer;
  padding: 7px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 0.1em solid #000;
  border-radius: 8px;
  width: 100px;
  color: #000;
  transition: color 0.25s ease, border-color 0.25s ease, background-color 0.25s ease;
  /* background-color: #eee; */
}

.filterBox > span {
  font-size: 0.8em;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* ------------- */

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #000;
  text-decoration: none;
  border: 2px solid #afafaf;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
}

.card:hover,
.card:focus,
.card:active {
  color: rgba(0, 77, 61, 0.9);
  border-color: rgba(0, 77, 61, 0.9);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  flex:1;
}

.card p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.card .cardType{
  font-size: 0.7rem;
  line-height: 1.5;
  /* border: 0.1em solid #000; */
  font-weight: 400;
  border-radius: 8px;
  align-self: baseline;
  padding: 3px 6px;
  margin-top: 2px;
  margin-left: 8px;
}

.card div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card #podcastColorType{
  background-color: rgba(46, 128, 181, 0.9);
  color: #eee;
}

.card #articleColorType{
  background-color: rgba(0, 77, 61, 0.9);
  color: #eee;
}

.card #posterColorType{
  background-color: rgba(222, 65, 89, 0.9);
  color: #eee;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* ARTICLE */

.mainArticle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfbf4;
  font-family: 'Open Sans';
}

.articleContainer{
  width: 55%;
}

.articleContainer > p {
  font-size: 1.1em;
  line-height: 1.7em;
  padding-left: 5px;
  padding-right: 5px;

  /* text-indent: 20px */
}

.articleContainer > h2 {
  margin-top: 60px;
  /* text-decoration: underline; */
}

.articleHeader {
  background-color: rgba(0, 77, 61, 0.9);
  width: 100%;
}

.divider{
  background-color: rgba(0, 77, 61, 0.9);
  width: 10%;
  height: 3px;
  border-radius: 10px;
  margin-left: 45%;
}

#hneeArticleHeader{
  height: 50px;
  margin-left: 5px;
}

.articleImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.articleImageContainer span{
  width: 80%;
  text-align: center;
  font-size: 0.8em;
  margin-top: 10px;
}

.articleImageContainer img{
  width: 80%;
}

.simpleLink{
  text-decoration: underline;
  font-weight: bold;
}

#narrowImage{
  width: 50%;
}

#doughnutImage img{
  width: 80%;
}

.articleTitle {
  align-self: center;
  text-align: center;
  font-weight: lighter;
  font-size: 2.5rem;
}

.articleSubTitle{
  align-self: center;
  text-align: center;
  font-weight: lighter;
  padding-top: 0;
  margin-top: -10px;
  font-size: 1.5rem;
}

#articleDate {
  /* margin-left: -20px; */
  font-weight: lighter;
  text-align: center;
  /* background-color: #e323e3; */
}

#author{
  /* margin-left: -20px; */
  font-weight: lighter;
  text-align: center;
  /* background-color: #e323e3; */
}

.numberedList{

}

.numberedList li {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.6em;
}

.referenceList{
  /* padding-right: 50px; */
}

.referenceList li{
  margin-bottom: 20px;
  font-size: 0.8em;
  word-break: break-word;
}

.mainImageZoomContainer{
  /* align-self: stretch; */
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.mapContainer{
  flex: 1;
  display: flex;
  background-color: #fff;
}

.zoomImage{
  width: 100%;
}

.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 50px;
}

.videoResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.spotify {
  margin-bottom: 50px;
  border-radius: 12px;
}

/*---------MEDIA QUERY----------*/

@media (max-width: 1024px) {
  .titleDescription{
    font-size: 1rem;
  }

  .descCont{
    margin: 0 1rem 0 1rem;
  }

  .titleHeader{
    font-size: 1.6rem;
  }

  .readMoreAboutTitle{
    font-size: 1rem;
  }

  .card{
    margin: 0.8rem;
    padding: 1.3rem;
    width: 280px;
    height: 200px;
  }

  .card h2{
    font-size: 1rem;
  }

  .card p{
    font-size: 0.9rem;
  }

  #titleImage{
    /* margin-top: 40px;
    height: 30rem; */
    width: 65%;
  }

  .articleContainer{
    width: 70%;
  }

}

@media (max-width: 860px) {
  .grid {
    width: 100%;
    /* flex-direction: column; */
  }

  .titleContainer{
    flex-direction: column-reverse;
  }

  .descCont {
    padding-top: 40px;
    text-align: center;
  }

  #titleImage{
    margin-top: 80px;
  }

  .card{
    width: 250px;
  }

  .articleImageContainer span{
    width: 80%;
    text-align: center;
    font-size: 0.8em;
  }

  .articleImageContainer img {
    width: 80%;
  }

  #doughnutImage img {
    /* width: 90%; */
  }
}

@media (max-width: 768px) {
  #titleImage{
    width: 80%;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card{
    width: 80%;
    height: auto;
  }

  .articleTitle {
    font-size: 2.2rem;
  }

  .articleContainer{
    width: 86%;
  }

  .articleContainer p {
    font-size: 1rem;
  }

  .articleContainer > h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  #titleImage{
    width: 90%;
  }

  .articleImageContainer span{
    width: 94%;
  }

  .articleImageContainer img {
    width: 94%;
  }

}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
